/*estilos.css*/
pre {
  outline: 1px solid #ccc;
  padding: 5px;
  margin: 5px;
  white-space: pre-wrap;
}
.string {
  color: green;
}
.number {
  color: darkorange;
}
.boolean {
  color: blue;
}
.null {
  color: magenta;
}
.key {
  color: red;
}

#container{
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
  text-align: center;
}
.column{
  background-color: #f2f2f2;
}
.update{
  cursor: pointer;
  color: #000fff;
}
.show-json{
  display: block;
}
.hide-json{
  display: none;
}